.date-change-container{
    margin-top:10px; 
}

.btn-add{
    
    border-radius:5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:5px 
}

.date-container{
    /* border: 1px solid grey; */
}

.chart-header{
    background-color: lightblue;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    /* text-align: center; */
    border-bottom: 1px solid black
}
.mat-card{
    padding: 0px !important;
}

.datePanel{
    box-shadow: 0px 0px 2px gray;
    border-radius: 2px;
    /* height: 100px; */
}