<!-- <div class="panel panel-primary"> -->
  <!-- <div class="panel-body"> -->
    <table class="table table-striped text-center">
      <thead>
        <tr>
          <th class="text-center">ID</th>
          <th class="text-center">Date</th>
          <th class="text-center">Amount</th>
          <th class="text-center">Saving</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of transactions">
          <td>{{t.id}}</td>
          <td>{{t.date}}</td>
          <td>{{t.amount}}</td>
          <td>{{t.save}}</td>
        </tr>
      </tbody>
    </table>
  <!-- </div>
</div> -->